<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Careers</title>
</head>
<body>
    <h1>Jovian Careers</h1>
    <img src="http://127.0.0.1:5000/static/banner.jpeg" alt="Do something Great" height="320">
    <h2>About Jovian</h2>
    <Lorem>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptates fuga rerum reprehenderit neque corporis, suscipit tempora quos, aliquid quasi, itaque dicta adipisci similique? Blanditiis sequi culpa harum cupiditate! Ad!Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptates fuga rerum reprehenderit neque corporis, suscipit tempora quos, aliquid quasi, itaque dicta adipisci similique? Blanditiis sequi culpa harum cupiditate! Ad!Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptates fuga rerum reprehenderit neque corporis, suscipit tempora quos, aliquid quasi, itaque dicta adipisci similique? Blanditiis sequi culpa harum cupiditate! Ad!</p>

    <h2>Open Positions</h2>

    <p>TODO - Show the jobs here</p>
    <button>Contact Us</button>
</body>
</html>